<footer class="footer">
  <small>
    Benjamin Bates
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
    </ul>
  </nav>
</footer>

